@import url('https://fonts.googleapis.com/css?family=Lora|Special+Elite');
@type: 'Special Elite', cursive;
@serif: 'Lora', serif;
@cream: #cdddd9;
@modalBackground: rgb(28, 28, 26, 0.8);

body{
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

#background{
	width: 100%;
	height: 100%;
	background-image: url('../assets/images/Truth.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	filter: blur(5px);
	-webkit-filter: blur(12px);
	position: fixed;
	z-index: -100;
}

#content{
  max-width: 1200px;
  z-index: 2;
  margin: 0 auto;
  position: static;
  font-family: @serif;
}

header{
	text-shadow: 1px 1px 10px silver;
	h1{
		font-size: 4em;
	}
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	nav{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		h2{
			padding-left: 50px;
			font-size: 2em;
		}
	}
	a:hover{
		text-shadow: none;
		text-decoration: underline;
	}
}
a{
	text-decoration: none;
	color: #111;
}
a:hover{
	cursor: pointer;
}
footer{
	z-index: 3;
	position: relative;
	background-color: black;
	margin: 0;
	height: 50px;
	h2{
		color: @cream;
	}
}
.header,
.footer {
  flex: 0 1 100%;
  // grid-column: 1 / -1;
  font-family: @type;
}
#wrapper{
	display: grid;
	grid-gap: 10px;
}
#wrapper.interviews{
  column-count: 2;
  max-width: 80%;
  display: block;
  -webkit-columns: 2; /* Chrome, Safari, Opera */
  -moz-columns: 2; /* Firefox */
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
  a{
    display: block;
  }
  a:hover{
    text-decoration: underline;
  }
}
/* no grid support? */
#wrapper{
  display: flex;
  flex-wrap: wrap;
}
#wrapper{
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: minmax(150px, auto);
}
.panel {
  /* needed for the flex layout*/
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  img{
  	width: 100%;
  	margin: 0;
  	border-radius: 5px;
  }
  
  a:hover{
  	text-decoration: underline;
  	img{
  		box-shadow: 1px 1px 10px grey;
  	}
  	h2{
  		text-shadow: 1px 1px 10px grey;
  	}
  }
}
.panel:focus{
	border: 0px solid white;
}
.tall-panel {
  grid-row-end: span 2;
  grid-column-end: span 2;
}

.text{
	background-color: rgba(111, 100, 85, 0.7);
	p{
		margin: 20px;
		color: #111;
	}
	a{
		text-decoration: underline;
	}
}

#wrapper > * {
  //background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  font-size: 150%;
  margin-bottom: 10px;
}


/* We need to set the margin used on flex items to 0 as we have gaps in grid.  */

@supports (display: grid) {
  #wrapper > * {
    margin: 0;
  }
}

/* modal */
.modal {
  display: none;
}
.modal-hider {
	position: absolute;
	left: -99999em;
}

.vanilla-modal .modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: @modalBackground;
  max-height: 90vh;
  max-width: 90vw;
  min-width: 300px;
  min-height: 300px;
  margin: auto;
  padding: 20px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  //text-align: center;
  overflow: hidden;
  //overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.smallModal{
  max-width: 300px;
}
.vanilla-modal .modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.vanilla-modal .modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.vanilla-modal.modal-visible .modal {
  z-index: 99;
  opacity: 1;
  transition: opacity 0.2s;
}

.modal-inner {
  font-family: @serif;
  position: relative;
  overflow: hidden;
  /* change overflow to auto here if you want modal to scroll together as one */
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  .closer{
  	height: 50px;
  }
  .modal-content{
  	display: flex;
  	//flex-wrap: wrap-reverse;
  	align-items: flex-start;
  	justify-content: space-around;
  	img{
  		// width: auto;
  		// height: 70vh;
  		width: 40%;
      max-width: 400px;
  		margin-left: 20px;
  		margin-bottom: 10px;
  	}
  	.interview{
  		height: 90vh;
  		overflow-y: scroll;
  		/* comment this out if you want whole module to scroll together*/
  		width: 100%;
  		//min-width: 300px;
  		max-width: 600px;
  		padding: 20px 0;
  	}
  	.question{
  		font-style: italic;
  		color: silver;
  	}
  }
  /* scrollbar */
  ::-webkit-scrollbar {
      width: 12px;
  }
   
  ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px white; 
  }
}

.modal-visible .modal-inner {
  z-index: 100;
  opacity: 1;
  color: @cream;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

[data-modal-close] {
  position: absolute;
  display: block;
  z-index: 2;
  right: 0;
  top: 0;
  width: 100%;
  text-align: right;
  height: 20px;
  line-height: 25px;
  font-size: 25px;
  cursor: pointer;
  box-shadow: -1px 1px 2px rgba(0,0,0,0.2);
}

/* interviews */
#content.interviews{
  font-family: @type;
  font-size: 20px;
  margin-top: 100px;
  columns: 100% 3;
  -webkit-columns: 100% 3;
  -moz-columns: 100% 3;

}

@media(max-width: 600px){
	.modal-content{
		flex-wrap: wrap-reverse;
		align-items: flex-end;
		img{
			width: 200px;
		}
	}
}


